* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* color: aliceblue; */
}

.main .page1 {
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.main .page1 .nav {
    color: #9595cf;
    position: fixed;
    margin-top: 39px;
    font-size: 10px;
    font-family: sans-serif;
    display: flex;
}

.main .page1 .nav .menuLogo {

    margin-left: 90vmax;
}

.main .page1 .nav .menuLogo i {
    margin-top: 0px;
    padding-left: 5px;
    position: absolute;

}

.main .page1 .nav .sideLogo span {
    margin-left: 35px;

}

.main .page1 .img img {
    height: 99vh;
    margin-left: 38%;

}

.main .page1 .sideThough {
    margin-top: 27%;
    margin-left: 8%;
    position: absolute;
}

.main .page1 .sideThough h5 {
    margin-top: -23%;
    margin-left: 0%;
    font-family: sans-serif;
    position: absolute;
}

.main .page1 .sideThough .pTag {
    margin-top: -20%;
    /* position: absolute; */
}

.main .page1 .sideThough .pTag p {
    height: 100px;
    width: 47%;
    font-size: 51px;

}

.main .page1 .sideThough a {
    position: absolute;
    padding-top: 16px;
    margin-top: 9%;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.main .page1 .sideThough a hr {
    position: absolute;
    color: #fff;
    margin-left: 145px;
    margin-top: -10px;
    width: 100px;
}

.main .page1 .sideThough .arrow {
    color: #fff;
    margin-top: 96px;
    margin-left: 239px;

}

.main .page2 {
    /* display: flex; */
    height: 100vh;
    width: 100%;
    background-color: black;

}

.main .page2 .imgPage2 img {
    height: 420px;
    margin-top: 8%;
}


.main .page2 .sideThough2 {
    margin-top: -19%;
    margin-left: 132vh;
    color: white;
    position: absolute;
}

.main .page2 .sideThough2 h5 {
    margin-top: -23%;
    margin-left: 0%;
    font-family: sans-serif;
    position: absolute;
}

.main .page2 .sideThough2 .pTag {
    margin-top: -20%;
    margin-bottom: 17px;
}

.main .page2 .sideThough2 .pTag p {
    height: 100px;
    width: 83%;
    font-size: 51px;

}

.main .page2 .sideThough2 a {
    position: absolute;
    padding-top: 16px;
    margin-top: 9%;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.main .page2 .sideThough2 a hr {
    position: absolute;
    color: #fff;
    margin-left: 145px;
    margin-top: -10px;
    width: 100px;
}

.main .page2 .sideThough2 .arrow {
    color: #fff;
    margin-top: 80px;
    margin-left: 237px;
}

.main .page3 {
    height: 100vh;
    width: 100%;
    background-color: white;
}

.main .page3 .heading1 {
    font-size: 15px;
    margin-left: 45%;
    margin-top: 1.5%;
    font-family: monospace;

}

.main .page3 .heading2 {
    margin-left: 36%;
    font-size: 30px;
    margin-top: 1.5%;

}

.main .page3 .buttonPage3 {
    margin-left: 46%;
    font-size: 27px;
    margin-top: 1.5%;

}

.main .page3 .buttonPage3 button {

    width: 130px;
    padding: 5px;
    background: transparent;
    border: 1px solid black;
}

.main .page3 .darukibottle .img2 {
    margin-left: 45%;
}

.main .page3 .darukibottle .img2 img {
    height: 333px;
}

.main .page4 {
    height: 100vh;
    width: 100%;
    background-color: white;

}

.main .page4 .h1 h5 {
    font-weight: 100;
    font-family: sans-serif;
    margin-left: 10%;
    letter-spacing: 1.5px;

}

.main .page4 .h2 h2 {
    font-size: xx-large;
    margin-left: 9%;
    margin-top: 1%;
    font-weight: 100;

}

.main .page4 .hr1 {
    margin-top: 10%;
    width: 82%;
    margin-left: 8%;
}

.main .page4 .leftHalf {
    margin-left: 8%;
    margin-top: 6%;
}

.main .page4 .leftHalf h5 {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    padding-bottom: 37px;
    margin-top: 19px;
}

.main .page4 .leftHalf h2 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 17px;
    padding-right: 10px;
}

.main .page4 .leftHalf input {
    /* border-style: none; */
    height: 40px;
    width: 223px;
    background-color: #FFFFFF00;
    /* border-color: var( --e-global-color-primary ); */
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.main .page4 .leftHalf input::after {
    border-style: none;
}

.main .page4 .leftHalf button {
    height: 40px;
    width: 162px;
    margin-left: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    background: transparent;
}

.main .page4 .rightHalf {
    margin-left: 52%;
    margin-top: -22%;
}

.main .page4 .rightHalf ul {
    list-style: none;
    font-family: "Leiko";
    font-size: 2.5vw;
    font-weight: 400;
}

.main .page4 .rightHalf li {
    padding-top: 4px;
}

.main .page4 .rightHalf li .hrli1 {
    width: 100px;
    position: absolute;
    margin-top: -15px;
    margin-left: 16vh;
}

.main .page4 .rightHalf li i {
    font-size: 23px;
    position: absolute;
    font-weight: 500;
    margin-left: 90px;
    margin-top: -13px;
}

#hrli2 {
    margin-left: 45vh;
}

#hrli3 {
    margin-left: 37vh;
}

#hrli4 {
    margin-left: 34vh;
}

#hrli5 {
    margin-left: 29vh;
}


.main .page4 .rightHalf .lastLine {
    /* margin-top: 30px; */
    margin-top: 37px;
    margin-left: -13px;
}

.main .page4 .rightHalf .lastLine a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-left: 1px;
    font-family: sans-serif;
    padding-left: 21px;

}

.main .page4 .footer {
    height: 5%;
    display: flex;
    background-color: #f1eded;
    margin-top: 47px;
}

.main .page4 .footer h5 {
    margin-left: 10%;
    margin-top: 8px;
    color: #6a6666;
    font-family: monospace;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.main .page4 .footer #h52 {
    margin-left: 20%;
}

.main .page4 .footer #h53 {
    margin-left: 33%;

}